<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>about</title>
    <meta name="about author" content="just about me u know "/>
    <meta name="olamide alimi" content="the man who lived" />
    <meta name="vikings tv shows character ragnar-lothbrok, ivar-the-boneless,bjorn ironside and king-ecbert" content="vikings tv shows character ragnar-lothbrok, ivar-the-boneless,bjorn ironside and king-ecbert" />
    <link rel="stylesheet" href="./stylesheet.css" type="text/css" />
    <style type="text/css">.body { width: auto; }</style>
  </head>
  <body>
    <header>
        <nav class="headNav">
            <a href="index.html">home</a>
            <a href="contact.html">contact</a>
            <a href="about.html">about</a>
            
        </nav>
      <h1>about me</h1>
    </header>
    <hr/>
  <div>
    <img class="profile-pic" src="../image/Olamide-alimi-pic.jpg" alt="olamide alimi">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque lobortis facilisis semper. Cras suscipit pulvinar massa nec molestie. Pellentesque magna turpis, viverra sagittis eleifend eget, venenatis a mauris. Sed eu sagittis ante. Maecenas mattis ante sit amet lobortis commodo. Praesent sed venenatis mi, in mollis erat. Cras augue nunc, fermentum ut bibendum eu, tristique nec dolor. Sed vitae orci sed massa semper ullamcorper. Integer congue volutpat dui, in ullamcorper urna dictum id. Aenean id velit turpis. Fusce iaculis sem a dapibus vulputate.

        Pellentesque risus ante, tincidunt ac pellentesque nec, ultrices sed nunc. Sed tempus, nisl quis interdum hendrerit, lacus erat efficitur elit, in fermentum purus urna vitae sem. Proin ut elit sem. Quisque pulvinar ligula risus, quis placerat magna convallis sed. Nunc vitae aliquet est. Sed at neque eros. Donec id est rhoncus, ultricies orci ac, egestas felis.
        
        Nunc vel magna magna. Nam sollicitudin erat id sagittis ullamcorper. Morbi ornare ullamcorper lectus, pharetra mattis elit commodo elementum. Mauris pharetra quam at risus posuere sodales. Etiam consectetur mi quis gravida cursus. Praesent ut magna eu massa auctor vehicula sit amet id eros. Etiam rutrum egestas egestas. Nam tempor dolor ut volutpat gravida. Phasellus ornare tincidunt mauris id ultrices. Maecenas ac vehicula tortor. Aenean consequat a augue vitae dapibus. Proin dictum pellentesque leo, at dictum massa auctor quis.
        
        Donec porttitor nec augue at ullamcorper. Morbi at diam tortor. In non porta risus. Vestibulum mattis dui in pharetra dignissim. Mauris nec erat ac urna malesuada eleifend. In sodales elit at interdum bibendum. Morbi non libero tellus. Praesent vestibulum tincidunt nulla nec tristique. Nunc felis arcu, imperdiet sit amet accumsan quis, aliquam vitae magna. Aenean tempus sagittis nisi, placerat bibendum purus aliquam vel. Quisque id faucibus ligula.
        
        Integer id mi vel massa rhoncus pulvinar a a dui. Pellentesque imperdiet, massa non imperdiet finibus, est nisi ultricies dolor, at tempus leo erat ut metus. Morbi condimentum tristique egestas. Curabitur ligula quam, scelerisque sollicitudin ligula at, accumsan luctus tellus. Etiam vulputate rhoncus libero, sed volutpat massa tempus eget. Etiam dapibus eget erat quis pulvinar. Nunc at ante sed enim faucibus iaculis tempor vel est. Donec auctor nunc congue eros tincidunt, ac tincidunt dui ornare. Etiam congue ultricies urna at congue</p>
  </div>
  <div class="foot">
    <footer>
        
       <h1> &copy;Olamide</h1>
    </footer>
  </div>
  </body>
</html>