<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>about</title>
    <meta name="about author" content="just about me u know "/>
    <meta name="olamide alimi" content="the man who lived" />
    <meta name="vikings tv shows character ragnar-lothbrok, ivar-the-boneless,bjorn ironside and king-ecbert" content="vikings tv shows character ragnar-lothbrok, ivar-the-boneless,bjorn ironside and king-ecbert" />
    <link rel="stylesheet" href="./stylesheet.css" type="text/css" />
    <style type="text/css">.body { width: auto; }</style>
  </head>
  <body>
    <header>
        <nav class="headNav">
            <a href="index.html">home</a>
            <a href="contact.html">contact</a>
            <a href="about.html">about</a>
            
        </nav>
      <h1>contact me</h1>
    </header>
    <hr/>
 <div>
    <p>Email: maggie@gmail.com</p>
    <br/>
    <p>phone number: 0896779854</p>
 </div>

  </body>
</html>