<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Viking Website</title>
    <meta name="just abouty Viking tv shows characters" content="about vikings tv shows character ragnar-lothbrok, ivar-the-boneless,bjorn ironside and king-ecbert"/>
    <meta name="Olamide alimi" content="viking Tv show" />
    <meta name="vikings tv shows character ragnar-lothbrok, ivar-the-boneless,bjorn ironside and king-ecbert" content="vikings tv shows character ragnar-lothbrok, ivar-the-boneless,bjorn ironside and king-ecbert" />
    <link rel="stylesheet" href="./stylesheet.css" type="text/css" />
    <style type="text/css">.body { width: auto; }</style>
  </head>
  <body>
 
    <header>
        <nav class="headNav">
         <a href="index.html">home</a>
         <a href="contact.html">contact</a>
         <a href="about.html">about</a>
         
        </nav>
        <div id="heading"><h1>My favourite viking characters</h1></div>
      </header>
 
    <hr/>
 
     <div class="intro">
       
      <ol>
       <div >
         <h2>Exploring the World of 'Vikings</h2>
         <img src="../image/viking poster.jpg"alt="viking poster"/>
         <iframe width="560" height="315" src="https://www.youtube.com/embed/9GgxinPwAGc?si=j_C2RBDm0nZHpN7a" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
         <p>Welcome to our website dedicated to the epic TV series, 'Vikings.' Prepare to embark on a captivating journey into the historical and mythological realms of Norse culture, where legendary warriors, ambitious kings, and fierce shieldmaidens come to life.</p>
         
       </div>
       <div>
          <h2>A Saga of Blood and Honor</h2>
          <p>'Vikings' is a critically acclaimed historical drama that weaves a tapestry of adventure, power struggles, and legendary conquests. Set in the Viking Age, the show takes us on a thrilling odyssey through a world of seafaring warriors who dared to explore uncharted territories, pushing the boundaries of their known world.</p>
 
 
       </div>
       <div>
         <h2>Intriguing Characters</h2>
         <p>At the heart of the series are complex characters, each with their own dreams, ambitions, and destinies. From the indomitable Ragnar Lothbrok to the cunning King Ecbert, the enigmatic Ivar the Boneless to the charismatic Bjorn Ironside, these characters breathe life into the show's immersive storytelling.</p>
       </div>
       <div>
         <h2>Historical Authenticity and Mythology</h2>
         <p>'Vikings' masterfully blends historical authenticity with Norse mythology, providing a glimpse into the culture, rituals, and beliefs of these seafaring people. As you delve into the show's world, you'll witness not only epic battles and political machinations but also the profound connection the Vikings had with their gods and the unseen.</p>
       </div>
       <div>
         <h2>Visually Stunning Cinematography</h2>
         <p>One cannot discuss 'Vikings' without mentioning its breathtaking cinematography. The show's creators have painstakingly recreated the Viking world, from the rugged landscapes of Scandinavia to the exotic cities of the Mediterranean, all of which are captured in stunning detail.</p>
       </div>
       <div>
         <h2>A Story of Legacy and Adventure</h2>
         <p>'Vikings' is more than just a historical drama; it's a tale of legacy and adventure, as the characters strive to leave their mark on history. The series invites viewers to witness the complexities of power, the bonds of family, and the unquenchable thirst for exploration that defined the Viking era.</p>
          <br>
          <p>Join us as we delve deeper into the world of 'Vikings,' exploring the characters, historical context, and the captivating narratives that have made this show a cultural phenomenon.</p>
 
       </div>
      </ol>
 
 
 
     </div>
     <table>
       <tr>
       <th>Character</th>
       <th>Role</th>
       <th>Notable Traits</th>
      </tr>
      <tr>
       <td>Ragnar Lothbrok</td>
       <td>Viking Warrior</td>
       <td>Strategic, Fearless, Charismatic</td>
      </tr>
      <tr>
       <td>Lagertha</td>
       <td>Shieldmaiden</td>
       <td>Brave, Skilled Fighter, Resilient</td>
      </tr>
      <tr>
       <td>Floki</td>
       <td>Shipbuilder</td>
       <td>Eccentric, Devout, Loyal</td>
      </tr>
     </table>
   
    
        <div>
         <h2 class="names" >bjorn ironside</h2>
         <img class="vikingPicture" src="../image/bjorn ironside.jpg" alt="bjorn ironside" />
         <iframe width="560" height="315" src="https://www.youtube.com/embed/VZku1zbO7xI?si=xYpM0NRNYIywrve1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
          <p>“Bjorn Ironside is a captivating exploration of the legendary Viking leader, known for his indomitable spirit and fearless pursuit of glory. Our website delves into the fascinating saga of Ironside, unraveling the tales of his formidable exploits, strategic brilliance, and the tumultuous era in which he lived. From epic battles to political intrigue, Born Ironside provides a comprehensive narrative, shedding light on the life and legacy of this iconic figure. Join us on a historical journey that unveils the warrior spirit and enduring legacy of Ironside, leaving an indelible mark on Viking history</p>
        </div>
        <div>
         <h2 class="names" >raganr lothbrok</h2>
          <img class="vikingPicture" src="../image/ragnar-lothbrok.jpg" alt="ragnar-lothbrok"/>
          <iframe width="560" height="315" src="https://www.youtube.com/embed/xOIKoKTCTOI?si=dOU48TbsmQPToq9U" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
          <p> “Embark on the legendary journey of Ragnar Lothbrok, a Viking hero whose tales of adventure and conquest are etched into the annals of history. Our exploration of Ragnar Over unveils the saga of this fearless leader, delving into his strategic brilliance, unyielding determination, and the profound impact he left on the Viking world. Join us in discovering the compelling narrative of Ragnar Over, a true icon of Viking lore.”</p>
        </div>
        <div>
          <h2 class="names" >ivar the boneless</h2>
           <img class="vikingPicture" src="../image/ivar-the-boneless.jpg" alt="ivar-the-boneless">
           <iframe width="560" height="315" src="https://www.youtube.com/embed/arp-Udc9djM?si=3T8o63pojNQH0lnJ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
           <p>"Dive into the compelling narrative of Ivar the Boneless, a Viking warrior whose indomitable spirit and unique story have left an enduring mark on history. Our exploration of Ivar takes you through the challenges he faced, his strategic prowess on the battlefield, and the complex character that made him both feared and admired. Join us in unraveling the enigma of Ivar the Boneless, a figure whose legacy echoes through the corridors of Viking lore, leaving an unforgettable imprint on the annals of time."</p>
        </div>
        <div>
         <h2 class="names" >king ecbert</h2>
         <img class="vikingPicture" src="../image/king ecbert.jpg" alt="king-ecbert">
         <iframe width="560" height="315" src="https://www.youtube.com/embed/8-5WNJvLyzw?si=UKU_drqoX2lqmZ24" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
          <p>“King Ecbert, a mastermind in the game of thrones, emerges as a central figure in the tumultuous world of Vikings. Our tribute to King Ecbert dives into the complex character of this cunning ruler, exploring his political maneuvers, alliances, and the intriguing dynamics that shaped his reign. Immerse yourself in the intricate web woven by King Ecbert, a key player in the ever-evolving drama of power and legacy.” </p>
        </div>
   

        <div>
            <h2 class="names" >List Of Characters in the show</h2>
            <ul class="characterList">
                <li>Ragnar Lothbrok</li>
                <li>Lagertha</li>
                <li>Bjorn Ironside</li>
                <li>Ivar the Boneless</li>
                <li>Floki</li>
                <li>Rollo</li>
                <li>Athelstan</li>
                <li>King Ecbert</li>
                <li>Harald Finehair</li>
                <li>Ubbe</li>
                <li>Hvitserk</li>
                <li>Sigurd Snake-in-the-Eye</li>
                
              </ul>

        </div>
 
     <div class="foot">
      <footer>
          
         <h1> &copy;Olamide</h1>
      </footer>
     </div>
     








  </body>
</html>